.booger {
  &-wrap {
    height: 100%;
    display: grid;
    padding: 10px;

    @media (min-width: 768px) {
      padding: 20px;
      align-items: center;
      justify-items: center;
    }
  }

  &__container {
    display: grid;
    grid-template-rows: 200px auto;
    text-align: center;
    justify-items: center;

    @media (min-width: 768px) {
      text-align: unset;
      min-width: 90%;
      max-width: 90%;
      margin: 0 auto;
      grid-template-rows: unset;
      grid-template-columns: 48% 52%;
      align-items: center;
      grid-column-gap: 30px;
    }
  }

  &__header {
    font-size: 24px;
  }

  &__blockquote {
    font-family: $f-mulish-med;
    color: $brown;
    font-size: 28px;
    text-shadow: 2px 2px 0 #000;

    @media (min-width: 1024px) {
      font-size: 38px;
    }

    @media (min-width: 1440px) {
      font-size: 48px;
      line-height: 50px;
    }
  }

  &__name {
    font-family: $f-rubik-bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 6px 6px 0 $red;
    text-transform: uppercase;

    @media (min-width: 1024px) {
      font-size: 50px;
      font-family: $f-rubik-extra-bold;
    }

    @media (min-width: 1440px) {
      font-size: 60px;
    }
  }

  &__booger {
    font-family: $f-rubik-bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 6px 6px 0 #000;
    text-transform: uppercase;

    @media (min-width: 1024px) {
      font-size: 50px;
      font-family: $f-rubik-extra-bold;
    }

    @media (min-width: 1440px) {
      font-size: 60px;
    }
  }

  &__algorand {
    text-shadow: none;
    color: #000;
    font-family: $f-rubik-med;
    font-style: normal;
    font-size: 24px;
    white-space: nowrap;
    text-transform: lowercase;

    @media (min-width: 768px) {
      font-size: 34px;
    }
  }

  &__data-header {

  }

  &__data-box-item {
    display: grid;
    align-items: baseline;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: 130px 1fr;
    justify-items: left;

    @media (min-width: 768px) {
      grid-template-columns: 200px 1fr;
      font-size: 34px;
    }
  }

  &__data-header {
    font-size: 22px;

    @media (min-width: 768px) {
      font-size: 28px;
    }
  }

  &__data-value {
    color: #000;
    font-size: 22px;
    font-family: $f-rubik-bold;

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }

  &__aside {
    display: grid;
    grid-row-gap: 20px;

    @media (min-width: 768px) {
      justify-self: left;
    }
  }

  &__data-header_tg {
    display: inline-grid;
    align-items: center;
    grid-gap: 5px;
    grid-auto-flow: column;
  }

  &__tg-link {
    color: $tg;
    font-size: 24px;
    transition: color .1s;
  }

  &__tg-link:hover {
    color: $red;
  }
}
