.booger {
  &-wrap {
    height: 100%;
    display: grid;

    @media (min-width: 768px) {
      padding: 20px;
      align-items: center;
      justify-items: center;
    }
  }

  &__container {
    @media (min-width: 768px) {
      display: grid;
      min-width: 90%;
      max-width: 90%;
      margin: 0 auto;
      grid-template-columns: 48% 52%;
      align-items: center;
      grid-column-gap: 30px;
    }
  }

  &__logo-container {
    padding-top: 10px;
    height: 100%;
    display: grid;
    align-items: center;
    overflow: clip;

    @media (min-width: 768px) {
      padding: 0;
      height: unset;
      align-items: unset;
      overflow: unset;
    }
  }

  &__header {
    font-size: 24px;
  }

  &__blockquote {
    text-align: left;
    text-wrap: balance;

    @media (min-width: 1440px) {
      text-align: unset;
    }
  }

  &__par {
    font-family: $f-mulish-med;
    color: $brown;
    font-size: 40px;
    text-shadow: 2px 2px 0 #000;

    @media (min-width: 1440px) {
      text-align: unset;
      font-size: 48px;
    }
  }

  &__name {
    font-family: $f-rubik-bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 5px 5px 0 $red;
    text-transform: uppercase;
    -webkit-text-stroke: 1px $red;

    @media (min-width: 1024px) {
      text-shadow: 6px 6px 0 $red;
      font-size: 50px;
      font-family: $f-rubik-extra-bold;
    }

    @media (min-width: 1440px) {
      font-size: 60px;
    }
  }

  &__booger {
    font-family: $f-rubik-bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 5px 5px 0 #000;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #000;

    @media (min-width: 1024px) {
      font-size: 50px;
      text-shadow: 6px 6px 0 #000;
      font-family: $f-rubik-extra-bold;
    }

    @media (min-width: 1440px) {
      font-size: 60px;
    }
  }

  &__data-box {
    display: grid;
    grid-row-gap: 5px;
  }

  &__data-box-item {
    display: grid;
    align-items: center;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: 120px 1fr;
    justify-items: left;

    @media (min-width: 768px) {
      grid-template-columns: 150px 1fr;
      font-size: 34px;
    }
  }

  &__data-header {
    white-space: nowrap;
    font-size: 20px;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__data-value {
    color: #000;
    font-size: 22px;
    font-family: $f-rubik-bold;
    max-width: 240px;

    @media (min-width: 768px) {
      font-size: 26px;
    }

    @media (min-width: 1440px) {
      font-size: 30px;
    }
  }

  &__data-value_ca {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 200px auto;
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    padding: 20px;
    display: grid;
    grid-row-gap: 40px;
    min-width: 100%;
    align-content: center;
    opacity: 1;
    background-color: rgba(255, 255, 255, .8);
    animation: showData .5s ease-in-out;

    @media (min-width: 768px) {
      position: static;
      padding: unset;
      height: unset;
      background-color: unset;
      align-content: unset;
      justify-items: unset;
      min-width: unset;
      justify-self: left;
    }
  }

  &__data-header_tg {
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
  }

  &__tg-link {
    font-size: 24px;
    transition: color .1s;
  }

  &__tg-link:hover {
    color: $tg;
  }

  &__copy-link {
    cursor: pointer;
  }

  &__copy-link {
    fill: #000;
    transition: fill .2s;
  }

  &__copy-link:hover {
    fill: $red;
  }

  &__pera-link {
    min-width: 104px;
    height: 38px;
    background-image: url("data:image/svg+xml,%3Csvg width=%22101%22 height=%2237%22 viewBox=%220 0 101 37%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22M19.0359 6.25246C19.8115 9.4656 19.5493 12.292 18.4504 12.5654 17.3515 12.8388 15.8319 10.4556 15.0564 7.24248 14.2809 4.02934 14.543 1.20295 15.642.92956c1.0989-.273387 2.6184 2.10976 3.3939 5.3229z%22 fill=%22%23000%22/%3E%3Cpath d=%22M31.8419 9.01499c-1.7175-1.8203-5.1345-1.32691-7.632 1.10201-2.4976 2.4289-3.1299 5.8736-1.4124 7.6939 1.7174 1.8203 5.1344 1.3269 7.632-1.102 2.4975-2.4289 3.1299-5.8736 1.4124-7.69391z%22 fill=%22%23000%22/%3E%3Cpath d=%22M18.1819 36.8881C19.2808 36.6147 19.5043 33.6284 18.6812 30.218s-2.3813-5.9534-3.4802-5.68-1.3224 3.2597-.4993 6.67c.8231 3.4104 2.3812 5.9535 3.4802 5.6801z%22 fill=%22%23000%22/%3E%3Cpath d=%22M6.97956 10.6815C10.15 11.6164 12.4666 13.2567 12.1539 14.3451 11.8412 15.4334 9.01761 15.5578 5.84718 14.6229 2.67676 13.6879.360109 12.0477.672807 10.9593.985505 9.87094 3.80914 9.74655 6.97956 10.6815z%22 fill=%22%23000%22/%3E%3Cpath d=%22M27.557 22.9715c3.365.9923 5.8394 2.6791 5.5267 3.7675-.3127 1.0883-3.2941 1.1662-6.6591.1739-3.365-.9924-5.8394-2.6791-5.5267-3.7675s3.294-1.1663 6.6591-.1739z%22 fill=%22%23000%22/%3E%3Cpath d=%22M10.547 20.6879C9.76081 19.8729 7.182 21.059 4.7871 23.3372c-2.3949 2.2782-3.69899 4.7857-2.91278 5.6007C2.66054 29.7529 5.23935 28.5668 7.63425 26.2886c2.39485-2.2782 3.69895-4.7857 2.91275-5.6007z%22 fill=%22%23000%22/%3E%3Cpath d=%22M48.7401 11.0183V10.3212H45.8672v18.587h2.8729V23.9001C48.7401 23.3579 48.7401 22.9191 48.6879 22.3253H48.7401c1.0447 1.7038 2.8207 2.6074 4.9101 2.6074 3.5258.0 6.6077-2.659 6.6077-7.5897.0-4.8275-3.0819-7.4348-6.6077-7.4348-2.0111.0-3.787.877699999999999-4.9101 2.6073H48.6879C48.7401 11.9476 48.7401 11.5346 48.7401 11.0183zm4.1788 11.4619C50.2549 22.4544 48.714 20.2085 48.714 17.3172c0-2.7364 1.5409-4.9307 4.2049-4.9566C55.5306 12.3348 57.2544 14.3484 57.2544 17.343c0 3.072-1.7238 5.163-4.3355 5.1372z%22 fill=%22%230d0d0d%22/%3E%3Cpath d=%22M75.344 16.1297C75.344 12.5672 72.4711 9.9082 68.5535 9.9082c-4.1788.0-7.0779 2.8139-7.0779 7.5122.0 4.5177 2.8468 7.5123 7.0779 7.5123 3.4736.0 6.0592-2.0136 6.65989999999999-4.7759H72.0793C71.5831 21.5509 70.225 22.4802 68.5535 22.4802 66.4118 22.4802 64.8448 20.9571 64.5053 18.4272H75.344V16.1297zM68.5535 12.3606C70.669 12.3606 72.1316 13.8063 72.445 15.8973H64.5314C64.897 13.8837 66.3857 12.3606 68.5535 12.3606z%22 fill=%22%230d0d0d%22/%3E%3Cpath d=%22M77.4561 24.5196H80.329V16.5169C80.329 13.7805 81.8438 12.3606 84.1944 12.3606H85.7353V9.9082H84.5078C82.3923 9.9082 81.0864 11.3022 80.329 12.5155H80.2767V10.3212H77.4561V24.5196z%22 fill=%22%230d0d0d%22/%3E%3Cpath d=%22M99.1658 22.0414C98.774 22.0414 98.5912 21.809 98.5912 21.3443V15.0971C98.5912 12.1025 97.1286 9.9082 92.8192 9.9082 88.6404 9.9082 86.7339 11.9734 86.5249 14.9164h2.8729C89.5807 13.3158 90.8604 12.3606 92.8192 12.3606c1.6716.0 2.8207.722900000000001 2.8207 1.8587C95.6399 15.1487 94.987 15.7166 92.8454 15.7166H91.6962C88.2748 15.7166 85.9765 17.0848 85.9765 20.2085c0 3.2785 2.4289 4.7758 5.2757 4.7758C93.3677 24.9843 95.1698 24.0549 95.875 22.0672 95.9533 23.5128 96.9197 24.5196 98.7479 24.5196h1.6191V22.0414H99.1658zM95.7183 17.9109c0 3.2011-1.7499 4.5951-3.996 4.5951C89.7635 22.506 88.98 21.3702 88.98 20.2085 88.98 19.0984 89.659 18.1949 91.7484 18.1949H92.1663C94.1773 18.1949 95.431 17.4979 95.6922 16.2846H95.7183v1.6263z%22 fill=%22%230d0d0d%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  &__ca {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-family: $f-rubik-med;
    white-space: nowrap;
  }
}

@keyframes showData {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

