.booger-logo {
  width: 200%;

  @media (min-width: 768px) {
    width: unset;
  }

  &__black {
    fill: #000;
  }

  &__brown {
    fill: $brown;
  }

  &__white {
    fill: #fff;
  }

  &__red {
    fill: $red;
  }
}

