$brown: #ffcc80;
$red: #f06;
$f-rubik-med: 'Rubik-Medium';
$f-rubik-extra-bold: 'Rubik-ExtraBold';
$f-rubik-bold: 'Rubik-Bold';
$f-mulish-extra-bold: 'Mulish-ExtraBold';
$f-mulish-bold: 'Mulish-Bold';
$f-mulish-med: 'Mulish-Medium';
